# Codeblocks linux
# zinjal
algoritmos2015.cbp
algoritmos2015.depend
algoritmos2015.layout

# Compile objects and binaries
bin
obj

# Ignore other objects
algoritmos2015.DSW
algoritmos2015.OBR
algoritmos2015.ide
algoritmos2015.mbt
algoritmos2015.mrt
bcwdef.csm
departamento.db
empleado.db
empresa.db
evaluacion.db
puestos.db
main.exe
main.ilc
main.ild
main.ilf
main.ils
main.obj
main.tds
NONAME00.exe
README.md
noname00.obj
