# Codeblocks linux
algoritmos2015.cbp
algoritmos2015.depend
algoritmos2015.layout

# Compile objects and binaries
bin
obj

# Ignore other objects
algoritmos2015.DSW
algoritmos2015.OBR
algoritmos2015.ide
algoritmos2015.mbt
algoritmos2015.mrt
bcwdef.csm


